exportPattern("^[[:alpha:]]+")
importFrom(utils,read.csv)
importFrom(utils,write.csv)
import(knitr)
importFrom(kableExtra,kable_styling)
importFrom(kableExtra,add_header_above)
importFrom(kableExtra,row_spec)
importFrom(kableExtra,column_spec)
importFrom(stringr,str_extract)
import(magrittr)
importFrom(captioner,captioner)
import(flextable)
import(officer)
importFrom(stats,median)
importFrom(ggplot2,is.ggplot)
importFrom(ggplot2,ggsave)
import(openxlsx)
